<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65883756520-a76q53ofo9ij5ofievmpuhqecm29ens0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65883756520-a76q53ofo9ij5ofievmpuhqecm29ens0</string>
	<key>API_KEY</key>
	<string>AIzaSyAMjYGtJq8u5ER5GzniI0NHzYn8qq8iXow</string>
	<key>GCM_SENDER_ID</key>
	<string>65883756520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.werkstatdg.FinPessoal</string>
	<key>PROJECT_ID</key>
	<string>finpessoal</string>
	<key>STORAGE_BUCKET</key>
	<string>finpessoal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65883756520:ios:be95dbf9dab036b242f65d</string>
	<key>DATABASE_URL</key>
	<string>https://finpessoal-default-rtdb.firebaseio.com</string>
</dict>
</plist>