<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.65883756520-a76q53ofo9ij5ofievmpuhqecm29ens0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.finpessoal.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>finpessoal</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
